:root {
  --white: #FFFFFF;
  --black: #000000;
  --secondary: #ffdc6d;
  --tercery: #ffbc6d;
  --cuarto: #001a96;
  --quinto: #8796f0;
  --very-light-pink: #C7C7C7;
  --text-input-field: #F7F7F7;
  --hospital-blue: #004cc3;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}