@import 'vars';

.ProductList {
   display: grid;
   grid-template-columns: repeat(auto-fill, 240px);
   gap: 40px;
   place-content: center;
   margin: 1em 0 0 0;
}

@media (max-width: 640px) {
   .ProductList {
      grid-template-columns: repeat(auto-fill, 140px);
   }
}
